<html>
	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta
			content="default-src 'self' vscode-resource: https:;
              script-src vscode-resource: 'self' 'unsafe-inline' 'unsafe-eval' https:;
              style-src vscode-resource: 'self' 'unsafe-inline';
              img-src 'self' vscode-resource: data:"
			http-equiv="Content-Security-Policy" />
		<base href="<%=basehref%>" />
		<link
			href="views/htmlcontent/src/css/slick.grid.css"
			rel="stylesheet"
			type="text/css" />
		<link
			href="views/htmlcontent/src/css/SlickGrid.css"
			rel="stylesheet"
			type="text/css" />
		<link
			href="views/htmlcontent/src/css/styles.css"
			rel="stylesheet"
			type="text/css" />
		<link
			href="views/htmlcontent/src/css/color-theme.css"
			rel="stylesheet"
			type="text/css" />
		<link
			href="views/htmlcontent/src/css/flexbox.css"
			rel="stylesheet"
			type="text/css" />
	</head>
	<!-- 3. Display the application -->
	<body>
		<my-app></my-app>
	</body>
	<% if (prod) { %>
	<script src="dist/js/app.bundle.js"></script>
	<% } else { %>
	<script src="views/htmlcontent/src/js/lib/jquery-1.8.3.js"></script>
	<script src="views/htmlcontent/src/js/lib/jquery.event.drag-2.2.js"></script>
	<script src="views/htmlcontent/src/js/lib/jquery-ui-1.9.2.js"></script>
	<script src="views/htmlcontent/src/js/lib/underscore-min.js"></script>
	<script src="views/htmlcontent/src/js/lib/slick.core.js"></script>
	<script src="views/htmlcontent/src/js/lib/slick.grid.js"></script>
	<script src="views/htmlcontent/src/js/lib/slick.editors.js"></script>
	<script src="views/htmlcontent/src/js/slick.autosizecolumn.js"></script>
	<script src="views/htmlcontent/src/js/slick.dragrowselector.js"></script>
	<script src="views/htmlcontent/src/js/lib/rangy-core.js"></script>
	<script src="views/htmlcontent/src/js/lib/rangy-textrange.js"></script>
	<!-- Polyfill(s) for older browsers -->
	<script src="views/htmlcontent/src/js/lib/shim.min.js"></script>
	<script src="views/htmlcontent/src/js/lib/zone.js/dist/zone.js"></script>
	<script src="views/htmlcontent/src/js/lib/Reflect.js"></script>
	<script src="views/htmlcontent/src/js/lib/system.src.js"></script>
	<script src="views/htmlcontent/systemjs.config.js"></script>
	<% } %>
	<script>
		System.import("app").catch(function (err) {
			console.error(err);
		});
	</script>
</html>
